a:hover, a:focus, a:active {
    color: #0a35af;
}
.btn-primary {
	background-color: #0a35af;
	border-color: #0a35af;
}
.btn-primary:hover, .btn-primary:focus {
	color: #0a35af;
	border-color: #0a35af;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
	background-color: #0a35af;
	border-color: #0a35af;
}
.form-control:focus {
	box-shadow: 0 0 0 4px rgba(10,53,173,.80);
}
.btn-primary.disabled, .btn-primary:disabled {
	color: #fff;
	background-color: #0a35af;
	border-color: #0a35af;
}
.owl-theme .owl-nav [class*="owl-"]:hover {
	background: #0a35af;
}
.section-title::before, .section-title::after {
	background: #0a35af;
}
.section-title h2 span {
    color: #0a35af;
}
.light .classy-navbar-toggler .navbarToggler span {
	background-color: #0a35af;
}
.light .classynav ul li.megamenu-item ul li .find-out-more-btn {
	color: #0a35af;
}
.main-header-area .classynav ul li a.active, .main-header-area .classynav ul li a:hover {
	color: #0a35af;
}
.main-header-area .classynav ul li .dropdown .active a {
	color: #0a35af;
}
.light .classynav ul li.megamenu-item ul .active a {
	color: #0a35af;
}
.main-header-area .searchbtn:hover {
	color: #0a35af !important;
}
.main-header-area .light .classynav ul li .dropdown li .dropdown li a:hover {
	color: #0a35af;
}
.main-header-area .light .classynav ul li .dropdown li .dropdown .active a {
	color: #0a35af;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.main-header-area .searchbtn {
		background-color: #0a35af !important;
	}
}
@media only screen and (max-width: 767px) {
	.main-header-area .searchbtn {
		background-color: #0a35af;
	}
}
.loader #largeBox {
    background-color: #0a35af;
}
.top-header p a:hover, .top-header p a:focus {
    color: #0a35af;
}
.top-header ul li a:hover, .top-header ul li a:focus {
    background: #0a35af;
    border-color: #0a35af;
}
#search .close {
	color: #0a35af;
}
#search .close:hover {
    background: #0a35af;
    border-color: #0a35af;
}
.main-banner h2 span {
    color: #0a35af;
}
.main-banner .btn-primary {
	color: #0a35af;
}
.main-banner .btn-primary:hover, .main-banner .btn-primary:focus {
	background-color: #0a35af;
	border-color: #0a35af;
}
.lawyer-features ul li i {
	color: #0a35af;
}
.services-box:hover {
	background: #0a35af;
	border-color: #0a35af;
}
.services-box .icon {
    background: #0a35af;
}
.services-box:hover .icon {
    color: #0a35af;
}
.register-area::after {
	background: #0a35af;
}
.contact-now .btn.btn-primary {
	color: #0a35af;
}
.register-area .btn-primary:hover, .register-area .btn-primary:focus {
	color: #0a35af;
}
.practice-box:hover {
	background: #0a35af;
}
.practice-box .practice-link a:hover {
	background: #0a35af;
}
.single-working:hover {
	background: #0a35af;
	border-color: #0a35af;
}
.single-working.right-arrow::before {
	background: #0a35af;
}
.single-working .icon {
	color: #0a35af;
}
.single-choose:hover span {
    color: #0a35af;
}
.our-attorney::before {
	border: 3px solid #0a35af;
}
.our-attorney:hover .post {
	color: #0a35af;
}
.our-attorney .social li a {
	background: #0a35af;
    border: 1px solid #0a35af;
}
.our-attorney .social li a:hover { 
    color: #0a35af;
    border-color: #0a35af;
}
.funFacts:hover .icon {
    border-color: #0a35af;
    background: #0a35af;
}
.why-choose-us-two {
	background: #0a35af;
}
.single-blog-post .blog-link a {
	color: #0a35af;
}
.single-blog-post .blog-link a:hover {
	background: #0a35af;
}
.single-blog-post .date {
	background: #0a35af;
}
.single-blog-post .post-meta ul li a:hover {
	color: #0a35af;
}
.single-blog-post .post-meta ul li a i {
	color: #0a35af;
}
.single-feedback ul li {
    color: #0a35af;
}
.lawyer-boxes .box i {
	background: #0a35af;
}
.page-title ul li {
	color: #0a35af;
}
.page-title ul li a:hover {
    color: #0a35af;
}
.our-missionVision ul li i {
    color: #0a35af;
}
.our-mission ul li i {
    color: #0a35af;
}
.single-gallery .picture-icon a {
	color: #0a35af;
}
.single-gallery .picture-icon a:hover {
	background: #0a35af;
}
.single-case-result .case-content span {
	background: #0a35af;
}
.single-case-result .case-content .btn.btn-primary {
	color: #0a35af;
}
.single-case-result .case-content .btn.btn-primary:hover {
	background: #0a35af;
	border-color: #0a35af;
}
.tabs label:hover {
	background: #0a35af;
}
.tabs input[type="radio"]:checked + label {
	background: #0a35af;
}
.side-bar-box form button:hover {
	background: #0a35af;
}
.side-bar-box .title::before {
	background: #0a35af;
}
.tags-box ul li a {
	border: 1px solid #0a35af;
}
.side-bar-box .recent-post-content ul li a:hover {
	color: #0a35af;
}
.servicesBox:hover {
	background: #0a35af;
	border-color: #0a35af;
}
.servicesBox .link-icon a {
	color: #0a35af;
}
.servicesBox .link-icon a:hover {
	background: #0a35af;
}
.blog-details .img .date {
	background: #0a35af;
}
.blog-details-content ul li a:hover {
	color: #0a35af;
}
.blog-share-social ul li a {
	background: #0a35af;
	border: 1px solid #0a35af;
}
.blog-share-social ul li a:hover {
	color: #0a35af;
}
.blog-share-social ul li a:hover i {
    color: #0a35af;
}
.post-prev-next-button a {
	background: #0a35af;
    color: #fff;
}
.post-comments .single-post-comments .content a {
	color: #0a35af;
}
.post-comments .content ul {
	color: #0a35af;
}
.post-leave-reply ul li a:hover i {
	color: #0a35af;
}
.about-style-two .about-image::before {
	background: #0a35af;
}
.services-area.services-style-three .services-box:hover {
	background: #0a35af;
}
.single-attorney::before, .single-attorney::after {
	background: #0a35af;
}
.single-attorney .pic {
	border: 2px solid #0a35af;
}
.single-attorney .social li a {
	background: #0a35af;
	border: 1px solid #0a35af;
}
.single-attorney .social li a:hover {
	color: #0a35af;
}
.ourAttorney {
	color: #0a35af;
}
.ourAttorney:hover {
	background: #0a35af;
}
.ourAttorney .social {
	background: #0a35af;
}
.ourAttorney .social li a {
	color: #0a35af;
}
.attorney-details .attorney-social li a:hover {
	background: #0a35af;
}
.attorney-contact-info ul li a:hover {
    color: #0a35af;
}
.progress::before, .progress::after {
	background: #0a35af;
}
.progress .progress-bar {
	background: #0a35af;
}
.progress .progress-value {
	background: #0a35af;
}
.product-body ul.categories-tags a:hover {
	color: #0a35af;
}
.product-body ul.share a:hover {
    background: #0a35af;
}
.product-entry .tabset > label {
	border: 1px dashed #0a35af;
}
.product-entry .tabset > label:hover, .product-entry .tabset > input:focus + label {
	background: #0a35af;
	border-color: #0a35af;
}
.product-entry .tabset > input:checked + label {
	background: #0a35af;
    border-color: #0a35af;
}
.product-entry .tab-panel {
	border: 1px dashed #0a35af;
}
.product-features ul li a {
	color: #0a35af;
}
.product-entry .tab-panel .review-post .content ul li {
	color: #0a35af;
}
.cart-table thead .table-heading th {
	border-top: 1px dashed #0a35af;
}
.cart-table .table > tbody > tr > td, .cart-table .table > tbody > tr > th, .cart-table .table > tfoot > tr > td, .cart-table .table > tfoot > tr > th, .cart-table .table > thead > tr > td, .cart-table .table > thead > tr > th {
	border: 1px dashed #0a35af;
}
.checkout-area .title::before {
	background: #0a35af;
}
.order-table .table > tbody > tr > td, .order-table .table > tbody > tr > th, .order-table .table > tfoot > tr > td, .order-table .table > tfoot > tr > th, .order-table .table > thead > tr > td, .order-table .table > thead > tr > th {
	border: 1px dashed #0a35af;
}
.payment-holder input[type="radio"]:checked ~ .check {
	background: #0a35af;
	border-color: #0a35af;
}
.payment-holder .place-order {
	background: #0a35af;
}
.payment-holder .place-order .btn {
	color: #0a35af;
}
.contact-info i {
	background: #0a35af;
}
.contact-info p a:hover {
	color: #0a35af;
}
.contactBox p i {
	color: #0a35af;
}
.contactBox p a:hover {
	color: #0a35af;
}
.error-content h3 {
	color: #0a35af;
}
.card {
	border: 1px solid #0a35af;
}
.card-header {
	background-color: #0a35af;
}
.login-content ul li a:hover {
    background: #0a35af;
}
.login-content p a:hover {
    color: #0a35af;
}
.login-content h4 a {
	color: #0a35af;
}
.signup-content a {
	color: #0a35af;
}
.page-link {
	color: #0a35af;
	border: 1px solid #0a35af;
}
.page-item.disabled .page-link {
	color: #0a35af;
	border-color: #0a35af;
}
.page-link:hover {
	background-color: #0a35af;
	border-color: #0a35af;
}
.page-item.active .page-link {
	background-color: #0a35af;
	border-color: #0a35af;
}
.footer-area .widgets .social li a {
	color: #0a35af;
}
.footer-area .widgets .social li a:hover {
	background: #0a35af;
}
.footer-area .widgets .usefull-links li a:hover {
	color: #0a35af;
}
.footer-area .widgets .contact-us li i {
	color: #0a35af;
}
.footer-area .widgets .contact-us li a:hover {
	color: #0a35af;
}
.copyright-area p a {
	color: #0a35af;
}
.go-top:hover {
	background-color: #0a35af;
}